<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.promote.threeman">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".main.HomeActivity"
            android:label="@string/app_name"
            android:launchMode="standard"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".search.SearchActivity"
            android:label="@string/app_name"
            android:launchMode="standard">
        </activity>
        <activity
            android:name=".detailInfo.CaseAndThreeInfoActivity"
            android:label="@string/app_name"
            android:launchMode="standard">
        </activity>
        <activity
            android:name=".detailInfo.NeedClassInfoActivity"
            android:label="@string/app_name"
            android:launchMode="standard">
        </activity>
        <activity
            android:name=".detailInfo.VideoInfoActivity"
            android:label="@string/app_name"
            android:launchMode="standard">
        </activity>
        <activity
            android:name=".main.msg.MsgListActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"/>
        <activity
            android:name=".main.Account.FirmBeanActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"/>
        <activity
            android:name=".main.Account.DepositActivity"
            android:label="@string/app_name"
            android:launchMode="standard"/>
        <activity
            android:name=".main.settings.SettingsActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"/>
        <activity
            android:name=".main.settings.FeedbackActivity"
            android:label="@string/app_name">
        </activity>

        <activity
            android:name=".main.settings.AboutUsActivity"
            android:label="@string/app_name"/>

        <activity
            android:name=".main.grow.VedioCenterActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name"/>

        <activity
            android:name=".main.grow.CommendActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name"/>

        <activity
            android:name=".main.grow.QuestionActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name"/>

        <activity
            android:name=".industry.IndustryServerActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name"/>
        <activity
            android:name=".industry.IndustryInfoListActivity"
            android:launchMode="singleTop"
            android:label="@string/app_name"/>

    </application>

</manifest>
